

<div>
    <form method="post" asp-controller="home" asp-action="PostData">

        <input type="text" class="inputStyle" name="isim" />

        <input type="text" class="inputStyle" name="meslek" />

        <button class="btn btn-outline-success" type="submit">Verileri Gönder</button>
    </form>




</div>


<style>
    .inputStyle {
        border: 1px solid red;
        outline: none;
        height: 40px
    }

</style>